<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Basics</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">My first python web app!</h1>
        <p class="lead">This is my first pyhon web app with flask.</p>
      </div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Create a variable called yourName. Assing it the value of your name.</h3>
            
            <h3>Display the assignment name in an h1 element on the page. Include the elements in your output.</h3>
        </div>
        <div class="col-12">
            <h3>Use HTML to put an h2 element on the page. Use python to display your name inside the element using the variable.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Create the following variables: number1,number2 and total. Assign a value to them.</h3>
            <h3>Display the value of each variable and the total variable when you add them together.</h3>
        </div>
        <div class="col-12">
            <h3>Use python to create a Javascript array with the following values: python,HTML,Javascript. Output this array using python. Create a script that will display the values of this array on your page. NOTE: Remember python is building the array not running it. Javascript will use the array once the page is processed and returned to the client's browser where HTML and Javascript will do their thing.</h3>
        </div>
    </div>
</div>












<!-- bootstraps, jquery, javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>