$Color1:#f03e08f1;
$Color2:rgb(250, 245, 245);
$Color3:rgb(55, 55, 180);
$Color4:rgb(218, 250, 76);


* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    min-width:100%;
    min-height:100%;
}

header {
    padding: 30px;
    background-color: $Color1;
    min-height: 50px;
}



.leftBox, .mainBox,.rightBox {
    height: 100vh;
    font-size: 22px;
    padding-top: 25px;
    color:rgb(0, 0, 0);
}

img {
    width:100%;
}

.leftBox {
    float:left;
    background-color: $Color2;
   width: 25%;
}

.mainBox {
    float:left;
    background-color: $Color3;
   width: 50%;
}

.rightBox {
    float:left;
    background-color: $Color4;
   width: 25%;
}
